#container {
    display: flex;
}

.toast {
    display: none;
}

main {
    display: flex;
    flex-direction: row;
}

#registerBox {
    width: 200px;
    height: 400px;
    background-color:pink;
    padding: 30px;
}

#registerData {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redirect-button {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    padding: 0px;
    color: blue;
    text-decoration: underline;
}

.redirect-button:active {
    color: red;
}

#register-form {
    display: none;    
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form > div {
    margin-bottom: 10px;
}

label {
    margin-right: 5px ;
}