input, textarea, button {
    display: block;
    margin-bottom: 1rem;
}

#buttons {
    display: flex;
    gap: 10px;
} 

.post-comments {
    display: none;
}

.comment {
    /* color: rebeccapurple; */
    display: flex;
    
}

.comment textarea {
    margin-right: 5px;
    display: none;
}
